.languages {
	text-indent: 20px;

	&__text {
		@media screen and (min-width: 734px) {
			display: none;
		}
	}

	&__list {
		display: none;

		@media screen and (min-width: 734px) {
			display: block;
		}
	}
}
