.container {
	@media (min-width: 768px) {
		// delete for PDF, scale 77, borderless
		display: flex;
	} // delete for PDF, scale 77, borderless

	@media (min-width: 1366px) {
		width: 1366px;
		margin: 0 auto;
	}
}
