.section {
	padding: 0 8px;

	&--blue {
		background-color: #e9f0f8;

		@media (min-width: 734px) {
			display: table;
			padding: 25px 16px;
			width: 300px;
		}

		h2 {
			@media (min-width: 734px) and (max-width: 813px) {
				margin-top: 40px;
			}
		}
	}

	&--white {
		padding-bottom: 8px;

		@media (min-width: 734px) {
			width: 100%;
			padding: 0 16px;
		}

		h2 {
			@media (min-width: 1280px) {
				margin-top: 20px;
			}
		}
	}

	&__title {
		padding: 16px;
		text-align: center;
		color: $accent-color;
	}

	&__list {
		text-indent: 20px;
		display: none;

		@media (min-width: 734px) {
			display: block;
		}

		li {
			margin-bottom: 8px;
		}
	}

	&__item:not(:last-child) {
		margin-bottom: 8px;
	}
}

.section__text {
	&--accent-color {
		color: $accent-color;
	}

	&--indent {
		text-indent: 20px;
	}

	&--hidden {
		text-indent: 20px;

		@media (min-width: 734px) {
			display: none;
		}
	}
}
